.main-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    /*flex-grow: 1;
    flex-shrink: 1;*/
    background-color: #8E8E8E;
    width: 100%;
    height: 100%;
}
/*.titulo{
    display: flex;
    width: 25rem;
    height: 5rem;
    padding: 1.125rem 1.625rem;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
}*/
.titulo{
    display: flex;
    /*width: 50rem;*/
    
    /*padding: 1.125rem 1.625rem;*/
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
}
.titulo h1{
    color: #000;
    font-family: "Microsoft JhengHei";
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 2.5rem */
}

/*.submit-screen{
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    padding: 1.25rem;
    margin: 1.25rem;
    background-color: #e0e0e0;
    border-radius: 0.625rem;
}*/
.team-info__screen{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.submit-screen{
    display: flex;
    width: 56.25rem;
    height: 37.5rem;
    padding: 3.125rem 4.125rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 0.625rem;
    flex-shrink: 0;
    border-radius: 3.125rem;
    background: #64c2f8;

}
.team-shield{
    display: flex;
    width: 20.14063rem;
    padding: 0.3125rem 3.8125rem;
    flex-direction: column;
    align-items: center;
    gap: 0.9375rem;
}
.team-shield__preview{
    display: flex;
    height: 15.625rem;
    padding: 6.5625rem 1.36719rem 7.8125rem 1.25781rem;
    flex-direction: column;
    align-items: center;
    aspect-ratio: 187/250;
    background: #BFBFBF;
}
.team-shield__upload{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 140px;
    height: 40px;
    /*justify-content: center;*/
    /*width: 11.6875rem;
    height: 2.5rem;*/
    gap: 0.625rem;
    border-radius: 30px;
    background: #BCBCBC;
    
}
/*.team-shield__upload input[type="file"] {
    display: none;  
}*/
.custom-file-upload{
    display: flex;
    width: 95%;
    height: 95%;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    font-family: 'Arial';
    
    
}
.custom-file-upload:hover {
    cursor: pointer;
}

.team-name_and_nav{
    display: flex;
    padding: 0rem 0.625rem;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;
    align-self: stretch;
    
}

.team-name{
    display: flex;
    width: 31.375rem;
    padding: 0.625rem 3.1875rem 1.875rem 3.1875rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.25rem;
}

.team-name .team-name__input{
    display: flex;
    width: 31.375rem;
    height: 3.125rem;
    padding: 0.625rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.625rem;
    border-radius: 1.875rem;
    background: #C3C3C3;
    font-family: 'Rancho';
    font-size: 2rem;
    font-weight: bold;
    
}

.submit-nav-button{
    display: flex;
    width: 6.25rem;
    height: 6.25rem;
    padding: 0.625rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
    background-color: #BCBCBC;
}